

.Space-card {
	border-radius: 5px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.75);
    height: 550px;
    margin: auto;
    margin-bottom: 10px;
    max-width: 600px;
    text-align: center;
}

img {
    height: 400px;
    width: 500px;
}
